<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <h1 class="text-center">Welcome to ReelTube</h1>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="d-flex my-5 justify-content-center">
          <div>
            <img src="./public/images/video_1666225236501.png" alt="">
          </div>


    </main>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>