<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <h1 class="text-center">Welcome to ReelTube</h1>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="d-flex my-5 justify-content-center">
        <div class="card mx-5 text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Video 1 title</p>
            </div>
          </div>
          <div class="card mx-5 text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Video 2 title</p>
            </div>
          </div>
          <div class="card mx-5 text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Video 3 title</p>
            </div>
          </div>
          <div>
            <video controls width="100%">
              <source src="/videoplayer" type="video/mp4">
          
              Sorry, your browser doesn't support embedded videos.
          </video>
          </div>


    </main>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>