<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <h1 class="text-center">Welcome to ReelTube</h1>
    <header>
        <%- include('../partials/header') %>
    </header>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>