<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <%- include('../partials/header') %> 
    <main class="d-flex my-5 justify-content-center">
        <div>
            <video controls width="100%">
                <source src="/videoplayer" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
  </main>
</body>
</html>